{% load static %}
<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WINESTORE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
      body {
          background-image:  url("{% static 'wine/images/wallpaper.jpg' %}") ;
          background-size:cover;
          color:black;
      }

      .container
      {
        width:40%;
        height:40%;
        background-color:#29293d;
        border:red;
        margin-top:40px;
      }

      .jumbotron{
        background-color: lightblue;
      }
    </style>

  </head>
  <body>


        		<nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">


        	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        	        <span class="navbar-toggler-icon"></span>
        	      </button>

        	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        	        <ul class="navbar-nav mr-auto">
        	          <li class="nav-item active">
        	            <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
        	          </li>
                    {% if user.is_authenticated %}

                    <li class="nav-item">
                       <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                      </li>
        			  <li class="nav-item">
                       <a class="nav-link" href="{% url 'filter' %}">Filters</a>
                      </li>
                      {% else %}
                   <li class="nav-item">
                     <a class="nav-link" href="../login">Login</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="../register">Register</a>
                   </li>
                    {% endif %}

        	        </ul>
        	      </div>
            </nav>

    <div class="container">

      <form action="display/" method="post">
        {% csrf_token %}

      <h1>Country</h1>
      <select  name="country" required >
      {% for ele1 in country %}
        <option value="{{ele1}}">{{ele1}}</option>
      {% endfor %}
      </select>

      <h1>Province</h1>
      <select  name="province" required >

      {% for ele1 in province %}

        <option value="{{ele1}}">{{ele1}}</option>
      {% endfor %}

      </select>

      <h1>Region_1</h1>
      <select  name="region_1" required >

      {% for ele1 in region_1 %}

        <option value="{{ele1}}">{{ele1}}</option>
      {% endfor %}

      </select>
      <h1>Region_2</h1>
      <select  name="region_2" required >

      {% for ele1 in region_2 %}

        <option value="{{ele1}}">{{ele1}}</option>
      {% endfor %}

      </select>
      <h1>Variety</h1>
      <select  name="variety" required >

      {% for ele1 in variety %}

        <option value="{{ele1}}">{{ele1}}</option>
      {% endfor %}

      </select>
      <h1>Price</h1>
      <select  name="price" required >

      {% for ele1 in price %}

        <option value="{{ele1}}">{{ele1}}</option>
      {% endfor %}

      </select>



      <br><br>
      <button type="submit" >View</button>
      </form>

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
